* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	margin-right: 5px; 
}

.loading{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    background-color:#fff;
}

/*.loading .pic{
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.loading .pic i{
    display:block;
    float:left;
    width:6px;
    height:50px;
    background-color:#399;
    margin:0 2px;
    -webkit-transform:scaleY(0.4);
    transform:scaleY(0.4);
    -webkit-animation:load 1.2s infinite;
    animation:load 1.2s infinite;
}
.loading .pic i:nth-child(2){
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;
}
.loading .pic i:nth-child(3){
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.loading .pic i:nth-child(4){
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s;
}
.loading .pic i:nth-child(5){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
@-webkit-keyframes load{
    0%,40%,100%{
        -webkit-transform:scaleY(0.4);
        transform:scaleY(0.4);
    }
    20%{
        -webkit-transform:scaleY(1);
        transform:scaleY(1)
    }
}
@keyframes load{
    0%,40%,100%{
        -webkit-transform:scaleY(0.4);
        transform:scaleY(0.4);
    }
    20%{
        -webkit-transform:scaleY(1);
        transform:scaleY(1)
    }
}
*/

.loader1 {
	width:100px;
    height:100px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
	display:inline-block;
	font-size:0px;
	padding:0px;
}
.loader1 span {
   vertical-align:middle;
   border-radius:100%;
   
   display:inline-block;
   width:10px;
   height:10px;
   margin:3px 2px;
   -webkit-animation:loader1 0.8s linear infinite alternate;
   animation:loader1 0.8s linear infinite alternate;
}
.loader1 span:nth-child(1) {
   -webkit-animation-delay:-1s;
   animation-delay:-1s;
  background:rgba(245, 103, 115,0.6);
}
.loader1 span:nth-child(2) {
   -webkit-animation-delay:-0.8s;
   animation-delay:-0.8s;
  background:rgba(245, 103, 115,0.8);
}
.loader1 span:nth-child(3) {
   -webkit-animation-delay:-0.26666s;
   animation-delay:-0.26666s;
  background:rgba(245, 103, 115,1);
}
.loader1 span:nth-child(4) {
   -webkit-animation-delay:-0.8s;
   animation-delay:-0.8s;
  background:rgba(245, 103, 115,0.8);
  
}
.loader1 span:nth-child(5) {
   -webkit-animation-delay:-1s;
   animation-delay:-1s;
  background:rgba(245, 103, 115,0.4);
}

@keyframes loader1 {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}


/*.loader2 {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:25px;
	height:25px;
	display:inline-block;
	padding:0px;
	border-radius:100%;
	border:5px solid;
	border-top-color:rgba(254, 168, 23, 0.65);
	border-bottom-color:rgba(57, 154, 219, 0.65);
	border-left-color:rgba(188, 84, 93, 0.95);
	border-right-color:rgba(137, 188, 79, 0.95);
	-webkit-animation: loader2 2s ease-in-out infinite alternate;
	animation: loader2 2s ease-in-out infinite alternate;
}
@keyframes loader2 {
   from {transform: rotate(0deg);}
   to {transform: rotate(720deg);}
}
@-webkit-keyframes loader2 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);}
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0)
	}
	20%, 60% {
		transform: rotate(-25deg)
	}
	40%, 80% {
		transform: rotate(10deg)
	}
}*/

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
  		animation: none
	}
	.github-corner .octo-arm {
  		animation: octocat-wave 560ms ease-in-out
	}
}

.center {	
	margin-top:10px; 
	width: 100%;
	float: left;
}

.center-box {
	position: relative;
	width: 65%;
	/*height: 1000px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-inner {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
}

.site-meta {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background:  #fff;
}

.meta {
	width: 100%;
	height: 100px;
	background-color: #000;
}


.meta p{
	height: 50px;
	line-height: 50px;
	color: #fff;
}

.site-nav {
	width: 100%;
	z-index: 100px;
	margin-top: 10px;
	background-color: #fff;
}

.site-nav li{
	width: 100%;
	height: 40px;
	cursor: pointer;
}

.site-nav a{
	width: 80%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #000;
	display: block;
}

.site-item {
	margin-top: 10px;	
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
}

.my-item {
	position: relative;
	width: 200px;
	height: 200px;	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.my-img {
	position: absolute;
	width: 90%;
	height: 90%;
	background: url("../images/my.jpg");
	background-size: cover;
	border-radius: 50%;
}

.my-img {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-perspective: 800px;
	perspective: 800px;
}

.my-item:hover .my-img {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}

.my-item img {
	width: 100%;
	height: 100%;
}

.my-synopsis {
	position: absolute;
	width: 60%;
	height: 60%;
	text-align: center;
	color: #000;
}

.contact {
	width: 100%;
	color: #000;

}

.contact ul {
	width: 80%;
}

.contact li {
	width: 30%;
	display: inline-block;
}

.content-wrap {
	width: 73%;
	background-color: #fff;
}

.center-header {
	width: 100%;
	height: 300px;
	position: relative;
}

.center-header:hover .btn-left {
	display: block;
}

.center-header:hover .btn-right {
	display: block;
}

.center-header img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#img1 {
	opacity:1;
}

#img2, 
#img3, 
#img4, 
#img5{
	opacity:0;
}

#dots {
	position:absolute;
    right:20px;
    bottom:10px;
    height:20px;
}

#dots li {
	list-style: none;
    float:left;
    margin-left:10px;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#DFD5D0;
    cursor: pointer;
}

.btn-left, 
.btn-right {
	position: absolute;
	top:40%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: none;
}

.btn-left { 
    left:0px;
}

.btn-right {
	right:0px;
}

.center-item {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}

.item-header {
	width: 100%;
}

.item-header a {
	color: #000;
	text-decoration: none;
	position: relative;
	font-size: 28px;
	font-family: "宋体";
	font-weight: 500;
}

.item-header a:after {
	content: ' ';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    transform: translate(-50%);
}

.item-header a:hover:after {
    height: 2px;
    animation: ad_width .2s linear forwards;
    background: #000;
}

@keyframes ad_width {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

.folder {
	text-decoration: underline;
	cursor: pointer;
}

.item-i {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-family: "宋体";
	font-weight: normal;
}

.item-i span {
	color: rgb(171,171,171);
}

.item-main p{
	width: 90%;
	text-align: left;
	line-height: 40px;
}

.item-main a{
	display: inline-block;
	color: #000;
	text-align: left;
	line-height: 40px;
	border-radius: 5px;
	background-color: rgb(238,238,238);
}

.item-main a:hover {
	background-color: rgb(215,239,255);
}

footer{
	display: block;
}

.item-eof {
	display: block;
    margin: 80px auto 60px;
    width: 8%;
    height: 1px;
    background: #ccc;
    text-align: center;
}